<h1>{{pageTitle}}</h1>
<hr/>

<form [formGroup]="formGroup">

  <div class="form-group">
    <common-radio formControlName="attachmentType"
                  name="attachmentType"
                  label="What change are you making for Business Cost Premium to the facility?"
                  [radioLabels]='radioItems' 
                  display="table-row-group"
                  (ngModelChange)='changeAttachmentType($event)'
                  [errorMessage]="sameMailAddrError">
    </common-radio>
  </div>

  <div *ngFor='let item of radioItems'>
    
    <div class="form-group">
      <common-date *ngIf='item.showEffectiveDate && dataService.pracAttachmentType == item.value'
                  label='{{item.effectiveDateLabel}}' 
                  name="effectiveDate"
                  formControlName="effectiveDate">
      </common-date>
    </div>

    <div class="form-group">
      <common-date *ngIf='item.showExpirationDate && dataService.pracAttachmentType == item.value'
                  label='{{item.expirationDateLabel}}' 
                  name="expirationDate"
                  formControlName="expirationDate">
      </common-date>
    </div>

  </div>
</form>
