<common-page-framework>
  <h1>Home Page</h1>
  <div class="row p-2">
    <a [routerLink]="registerFacility">
      <button class="btn btn-block btn-lg btn-secondary">
        Register Facility
      </button>
    </a>
  </div>
  <div class="row p-2">
    <a [routerLink]="updateFacility">
      <button class="btn btn-block btn-lg btn-secondary">
        Update Facility
      </button>
    </a>
  </div>
  <div class="row p-2">
    <a [routerLink]="practitionerAssignment">
      <button class="btn btn-block btn-lg btn-secondary">
        Practitioner Attachment to Facility
      </button>
    </a>
  </div>
</common-page-framework>

