<h1>PRACTITIONER ASSIGNMENT TO MSP FACILITY<br/>FOR BUSINESS COST PREMIUM</h1>
<hr>

<common-page-section>
    <p>To be completed and submitted by an Eligible Physician (the "Practitioner") to add, change details of, or cancel the Practitioner's attachment to an MSP Facility Number for payment of the Business Cost Premium on Eligible Fees.</p>
    <p>Eligible Physicians who intend to cancel their attachment to an MSP Facility Number and add an attachment to a new MSP Facility Number must complete and submit separate copies of this form.</p>
    <p>Eligible Physicians must complete and submit this form to make changes to the effective date of attachments or cancellations previously submitted.</p>
    <p>Practitioners may attach to more than one MSP Facility Number concurrently provided they qualify at each facility as an Eligible Practitioner. A separate form must be submitted for each MSP Facility Number that Eligible Physicians wish to attach to.</p>
    <p>You must complete all parts of this form.</p>
</common-page-section>
