<common-core-breadcrumb>
  <common-wizard-progress-bar center
                              [progressSteps]="progressSteps">
  </common-wizard-progress-bar>

</common-core-breadcrumb>

<router-outlet></router-outlet>

<common-form-action-bar (btnClick)="continue()"
                        [submitLabel]="submitLabel"
                        [isLoading]="isLoading"
                        [defaultColor]="useDefaultColor"
                        widthOption='extra-width-mobile-only'></common-form-action-bar>
