<common-page-framework layout='blank'>

  <common-confirm-template>

    <div confirmationTitle>
      <button (click)="print($event)" class="btn btn-clear float-right print-hide">
        <strong>Print
          <i class="fa fa-print fa-lg"
             aria-hidden="true"></i>
        </strong>
      </button>
      <h1 class='border-bottom'>Confirmation of Submission</h1>
    </div>

    <div message>
      <div>
        <h2 class='mt-2'>Your application has been submitted</h2>
      </div>

      <div class="row">
        <div class="col-6">Date of Submission</div>
        <div class="col-6 font-weight-bold">{{dataService.formatDate(dataService.dateOfSubmission)}}</div>

        <div class="col-6">Reference Number</div>
        <div class="col-6 font-weight-bold">{{dataService.jsonCreateFacility.response?.referenceNumber}}</div>

        <div class="col-6">Facility Number</div>
        <div class="col-6 font-weight-bold {{isUnderReview ? 'text-primary' : ''}} "> {{facilityNumberText}} </div>
      </div>
    </div>

    <div AdditionalInfo>

      <div class="message-container under-review"
           *ngIf="isUnderReview">
        <i class="fa fa-2x fa-exclamation-circle text-primary pr-2"
           aria-label="info"></i>
        Your Facility Number will be provided once your request has been processed. If you have any questions on the
        status of your submission please call us at 1-800-555-1234 and provide your Reference Number.
      </div>



      <div class="print-hide">
        <h2 class="border-bottom"><strong>Next Steps</strong></h2>
        <common-page-section layout='noTips'>
          <ul>
            <li>You will recieve a letter with your Facility Number</li>
            <li *ngIf="!isUnderReview">Registration practitioners, complete with practitioner assignment to Medical
              Services Plan facility for
              Business Cost Premium form.</li>
          </ul>
        </common-page-section>
      </div>


      <!-- Prinable section should have same contents as Review page
      TODO: Explore refactoring so we can actually just put Review component here and style it in print-css.  -->
      <div class="print-only">

        <h3 class="border-bottom">Facility Administrator Info</h3>
        <div class="row">
          <div class="col-6">Facility administrator first name</div>
          <div class="col-6 font-weight-bold">{{dataService.facAdminFirstName}}</div>

          <div class="col-6">Facility administrator last name</div>
          <div class="col-6 font-weight-bold">{{dataService.facAdminLastName}}</div>

          <div class="col-6">Medical Services plan practitioner number</div>
          <div class="col-6 font-weight-bold">{{dataService.pracNumber}}</div>

          <div class="col-6">Email address</div>
          <div class="col-6 font-weight-bold">{{dataService.emailAddress}}</div>

          <div class="col-6">Phone number</div>
          <div class="col-6 font-weight-bold">
            {{dataService.facAdminPhoneNumber}}
            {{dataService.facAdminExtension ? 'Ext. ' + dataService.facAdminExtension : ''}}
          </div>
        </div>

        <h3 class="border-bottom">Facility Information</h3>
        <div class="row">
          <div class='col-6'>Facility name</div>
          <div class='col-6 font-weight-bold'>{{dataService.facInfoFacilityName}}</div>

          <div class='col-6'>Physical address</div>
          <div class='col-6 font-weight-bold'>{{dataService.facInfoPhysicalAddress}}</div>

          <div class='col-6'>City</div>
          <div class='col-6 font-weight-bold'>{{dataService.facInfoCity}}</div>

          <div class='col-6'>Province</div>
          <div class='col-6 font-weight-bold'>{{dataService.facInfoProvince}}</div>

          <div class='col-6'>Postal code</div>
          <div class='col-6 font-weight-bold'>{{dataService.facInfoPostalCode}}</div>

          <div class='col-6'>Fax number</div>
          <div class='col-6 font-weight-bold'>{{dataService.facInfoFaxNumber}}</div>

          <div class='col-6'>Effective date</div>
          <div class='col-6 font-weight-bold'>{{dataService.formatDate(dataService.facInfoEffectiveDate)}}</div>
        </div>

        <ng-container *ngIf="!dataService.facInfoIsSameMailingAddress">
          <h2 class="border-bottom">Facility Mailing Address</h2>
          <div class="row">
            <div class="col-6">Mailing Address</div>
            <div class="col-6 font-weight-bold">{{dataService.facInfoMailAddress}}</div>
  
            <div class="col-6">Mailing city</div>
            <div class="col-6 font-weight-bold">{{dataService.facInfoMailCity}}</div>
  
            <div class="col-6">Mailing Province</div>
            <div class="col-6 font-weight-bold">{{dataService.facInfoMailProvince}}</div>
  
            <div class="col-6">Mailing Postal</div>
            <div class="col-6 font-weight-bold">{{dataService.facInfoMailPostal}}</div>
          </div>
        </ng-container>
        

        <h2 class='border-bottom'>Business Cost Premium</h2>
        <div class="row">
          <div class="col-6">Does your business qualify for Business Cost Premium?</div>
          <div class="col-6 font-weight-bold">{{dataService.facInfoIsQualifyForBCP ? 'Yes' : 'No' }}</div>
        </div>

        <h2 class='border-bottom'>Declaration</h2>
        <p class="font-italic">I understand that MSP is a public system based on trust, but also that my claims are subject to audit and financial recovery for claims contrary to the Medicare Protection Act (the ÂActÂ). I undertake to not submit false or misleading claims information, and acknowledge that doing so is an offence under the Act and may be an offence under the Criminal Code of Canada. Further, I agree that I will meet the requirements of the Act and related Payment Schedule regarding claims for payment, including that prior to submitting a claim, I must create: (a) an adequate medical record, if I am a medical practitioner; or (b) an adequate clinical record, if I am a health care practitioner.</p>
        
        <common-checkbox [data]='true'
                         class='pl-4'
                         label='By checking this box I confirm that I am (or I have the authority) to submit this form as the principle practitioner of the facility (the "Applicant")'>
        </common-checkbox>
        
        <div class="row">
          <div class="col-6">Date of Declaration</div>
          <div class="col-6 font-weight-bold">{{dataService.formatDate(dataService.dateOfDeclaration)}}</div>
        </div>

      </div>

    </div>

  </common-confirm-template>

  
  <div class="border border-warning p-4">
    <h3>Technical Information - temporary available to reference</h3>
      <h3>1:Applicant-Validation:</h3><pre><code>{{ dataService.jsonApplicantValidation | json }}</code></pre><hr/>
      <h3>2:Facility-Validation:</h3><pre><code>{{ dataService.jsonFacilityValidation | json }}</code></pre><hr/>
      <h3>3:Facility-Creation:</h3><pre><code>{{ dataService.jsonCreateFacility | json }}</code></pre><hr/>
    </div>

</common-page-framework>
