<h1>{{pageTitle}}</h1>
<p>Description Text.</p>
<hr/>

<common-page-section>
  <form [formGroup]="formGroup">
    <div class="form-group">
      <common-name label="Sample Form Input"
                  name='sampleFormInput'
                  formControlName='sampleFormInput'></common-name>
    </div>

    <div class="form-group">
      <label class="control-label" for="sampleTextarea">Sample Textarea</label>
      <textarea class='form-control'
                id='sampleTextarea'
                name='sampleTextarea'
                formControlName='sampleTextarea'
                rows='10'></textarea>
    </div>
  </form>
</common-page-section>
