<common-consent-modal #bcpConsentModal
                      [title]="'Information Collection Notice'"
                      [processName]="'BCP'"
                      [agreeLabel]="'I have read and understand this information'"
                      [disableContinue]="!hasToken"
                      (accept)="handleAccept($event)">

  <p><strong>Keep your personal information secure - especially when using a shared device like a computer at a library, school or café.</strong> To delete any information that was entered, either complete the application and submit it or, if you don't finish, close the web browser.</p>
  <p><strong>Need to take a break and come back later?</strong> The data you enter on this form is saved locally to the computer or device you are using until you close the web browser or submit your application.</p>
  <p [innerHTML]="privacyStatement"></p>

  <common-captcha [apiBaseUrl]="captchaApiBaseUrl"
                  [nonce]="nonce"
                  (onValidToken)="handleToken($event)"></common-captcha>

</common-consent-modal>
