@import 'variables.scss';


.message-container {
    display: flex;
    padding: 1rem;
    min-height: 50px;
    border-style: solid;
    border-width: 3px !important;
    font-size: $h3-font-size;
  
    @include media-breakpoint-down(sm){
      height: auto;
      margin: initial;
    }
  }
  
  .confirm-icon--success::after,
  .confirm-icon--error::after,
  .confirm-icon--warning::after {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
  

#screenshot-area {
  height: 100%;
  // display: none;
  // width: 30000px;
  // height: 1000px;

  // #screenshot-wrapper {display: none;}
  // #screenshot-wrapper {
  //   height: 1px;
  //   overflow: hidden;
  // }
}

.html2canvas-container { width: 1024px !important; height: 2500px !important; }