<form [formGroup]="formGroup" novalidate>
  <h1>{{pageTitle}}</h1>
  <p class="border-bottom">Review your request for practitioner attachment before submission</p>

  <div class='border-warning'></div>

  <bcp-review-practitioner-info></bcp-review-practitioner-info>
  <bcp-review-practitioner-facility></bcp-review-practitioner-facility>
  <bcp-review-practitioner-attachment></bcp-review-practitioner-attachment>

  <div class="row col-md-12 ml-0 pl-0 align-items-center">
    <div class="col-md-12 pl-0">
      <h2 class="border-bottom">Declaration</h2>
    </div>
    <div class="row col-md-12 ml-0 pl-0 align-items-left" [innerHtml]='dataService.declarationText'>
    </div>
  </div>
  <h3>{{signatureLabel}}</h3>
  <bcp-signature name='signature' formControlName='signature' [errorMessage]='errorMessage'></bcp-signature>
</form>
