<form [formGroup]="formGroup" novalidate>
  <h1>{{pageTitle}}</h1>
  <p class="border-bottom">Review your request for practitioner assignment before submission</p>

  <div class='border-warning'></div>

  <bcp-review-practitioner-info></bcp-review-practitioner-info>
  <bcp-review-practitioner-facility></bcp-review-practitioner-facility>
  <bcp-review-practitioner-attachment></bcp-review-practitioner-attachment>

  <div class="row col-md-12 ml-0 pl-0 align-items-center">
    <div class="col-md-12 pl-0">
      <h2 class="border-bottom">Declaration</h2>
    </div>
    <div class="row col-md-12 ml-0 pl-0 align-items-left">
      I, the Practitioner named above, hereby confirm that: --by checking either "Add New", "Change", or "Cancel" above, I am either adding, changing details of, or cancelling an attachment to the MSP Facility Number set out in this document, as the case may be. In the case of adding an attachment or changing details of an attachment to the above MSP Facility Number:
      <ol type="i">
          <li>I am an Eligible Physician regarding the facility that has been issued the MSP Facility Number named in this document, and that I understand that my claims for the Business Cost Premium on Eligible Fees will be based on my attachment to the MSP Facility Number named in this document;</li>
          <li>this attachment will result in the Business Cost Premium being applied to all Eligible Fees on claims submitted, in the format approved by the Medical Services Commission of British Columbia bearing my Practitioner Number and the MSP Facility number of the facility named in this document;</li>
          <li>I understand that this is a legal document and I represent that the information that I have provided on this document is true to the best of my knowledge;</li>
          <li>I understand that claims in relation to the Business Cost Premium are subject to audit, and if found to be contrary to the Medicare Protection Act (the "Act"), are subject to financial recovery.  I further understand that submitting false or misleading claims information is an offence under the Act and may be an offence under the Criminal Code of Canada;</li>
          <li>I authorize the sharing of this information with the Administrator for the facility named in this document, including the delivery of this information to the facility mailing address for the purposes of confirmation of my attachment to the MSP Facility Number; and</li>
          <li>If, at any point, I am no longer an Eligible Physician with regard to the facility named in this document, I will submit a form for cancellation of my attachment to this MSP Facility Number to Health Insurance BC.</li>
      </ol>
    </div>
  </div>
  <h2 class="border-bottom">Signtaure</h2>
  <bcp-signature name='signature' formControlName='signature'></bcp-signature>
</form>
