<h1 [innerHTML]='textService.textValues.SPA_TEXT_PRACTITIONER_REG_PRAC_INFO_PAGE_TITLE'></h1>
<div [innerHTML]='textService.textValues.SPA_TEXT_PRACTITIONER_REG_PRAC_INFO_PAGE_DESCRIPTION'></div>
<hr/>

<common-page-section>
  <bcp-core-practitioner-info [formGroup]='formGroup'
    [showValidationError]='showValidationError'></bcp-core-practitioner-info>

  <common-error-container [displayError]='systemDownError'>
    Unable to continue, system unavailable. Please try again later.
  </common-error-container>
</common-page-section>
