<common-page-framework layout='blank'>
  <h1>{{pageTitle}}</h1>
  <p class="border-bottom">
    To qualify a Facility must be location in British Columbia.
  </p>
  <common-page-section layout="tips">
    <div class="form-group">
      <form [formGroup]="facilityForm">

        <div class="form-group">
          <!-- Facility Name -->
          <label class="control-label" for="facilityName">Facility or practice name</label>
          <input id="facilityName" formControlName="facilityName" class="form-control" maxlength="70">
          <common-error-container [displayError]="validFormControl(facilityForm,'facilityName')">
            Facility Name is a required field
          </common-error-container>
        </div>

        <div class="form-group">
          <common-geocoder-input label='Physical address'
                                 formControlName="address"
                                 maxlength="60"
                                 (addressChange)="physicalAddressSelected($event)">
          </common-geocoder-input>

          <common-error-container
            [displayError]="facilityForm.controls?.address?.touched && facilityForm.controls?.address?.errors?.required">
            Facility Address is a required field
          </common-error-container>

          <common-error-container [displayError]="facilityForm.controls?.address?.errors?.maxlength">
            Facility Address max length must be 60 or fewer characters.
          </common-error-container>
        </div>

        <div class="form-group">
          <!-- City -->
          <common-city name='facilityCity'
                       formControlName="city"
                       placeholder=""
                       [maxlength]="30"></common-city>
        </div>

        <!-- Province is read only just display on screen -->
        <div>
          <div class='label'>Province</div>
          <div class='pb-2'>{{facInfoProvince}}</div>
        </div>

        <div class="form-group">
          <!-- Postal Code has masks by default not maxlength required-->
          <common-postal-code name='facilityPostalCode'
                              label='Postal code'
                              formControlName='postalCode'></common-postal-code>
        </div>

        <div class="form-group">
          <common-phone-number name='facilityFaxNumber'
                               label='Fax number (optional)'
                               formControlName='faxNumber'
                               [allowInternational]='false'></common-phone-number>
        </div>

        <div class="form-group">
          <common-date name='effectiveDate'
                       label="Effective date"
                       formControlName='effectiveDate'
                       [dateRangeStart]="effectStartRange"></common-date>
        </div>
        <div *ngIf="isEffectiveDateWarning" class="text-primary">
          NOTE: The Effective Date you have provided is in the future. Claims submitted by
          practitioners at the clinic must be after this date.
        </div>


        <div class="form-group">
          <common-radio formControlName="isSameMailingAddress"
                        name="isSameMailingAddress"
                        label="Is the mailing address the same as the Physical Facility Address?"
                        display="table-row-group"
                        [errorMessage]="sameMailAddrError">
          </common-radio>
        </div>

      </form>
    </div>

    <aside>
      <h2>Tip</h2>
      <p><strong>Effective date</strong> - is the date at which the facility is beginning operations. Practitioners attached to the facility can submit claims under the Business Cost Premium program after the Effective Date.</p>
    </aside>
  </common-page-section>
  <h2 class='border-bottom' *ngIf="showMailingAddress">Facility Mailing Address</h2>
  <common-page-section layout="tips">
    <div class="form-group col-sm-8 p-sm-0" *ngIf="showMailingAddress">

      <form [formGroup]="facilityForm">

        <div class="form-group">
          <common-geocoder-input label='Mailing address' formControlName="mailingAddress" maxlength="60" (addressChange)="mailingAddressSelected($event)">
          </common-geocoder-input>

        <common-error-container
          [displayError]="facilityForm.controls?.mailingAddress?.touched && facilityForm.controls?.mailingAddress?.errors?.required">
          Facility Mailing Address is a required field
        </common-error-container>

        <common-error-container [displayError]="facilityForm.controls.facInfoFaxNumber?.mailingAddress?.errors?.maxlength">
          Facility Mailing Address max length must be 60 or fewer characters.
        </common-error-container>
        </div>


        <div class="form-group">
          <common-city label='City'
                       name="mailingfacAdminFirstNameCity"
                       formControlName="mailingCity"
                       placeholder=""
                       [maxlength]="30"></common-city>
        </div>

        <!-- Province is read only just display on screen -->
        <div>
          <div class='label'>Province</div>
          <div class='pb-2'>{{facInfoMailProvince}}</div>
        </div>

        <div class="form-group pt-1">
          <!-- Postal Code component defaults to Canadian-->
          <common-postal-code name="mailingPostalCode"
                              label='Postal code'
                              formControlName="mailingPostalCode">
          </common-postal-code>
        </div>

      </form>
    </div>
  </common-page-section>
  <h2>Business Cost Premium</h2>
  <p>The Business Cost Premium applies to Eligible Fees claimed by Eligible Physicians for services that are provided in a community-based office that has been issued a Medical Services Plan Facility Number. Medical Services Plan Facility Numbers are issued to qualifying facilities, based on the physical location of the facility.</p>
  <p class="border-bottom">Eligible Physicians are those practitioners who are responsible to pay for some or all of the lease, rental, or ownership costs of the community-based office that has been issued an Medical Services Plan Facility Number. Eligible Physicians must apply to be attached to the Medical Services Plan number for a facility to claim the Business Cost Premium on Eligible Fees for services provided at that facility.</p>
  <common-page-section layout="tips">
    <div class="form-group col-sm-8 p-sm-0">
      <form [formGroup]="facilityForm">
        <div class="form-group">
          <common-radio formControlName="isQualifyForBCP"
                        name="isQualifyForBCP"
                        label="Do you request that the Business Cost Premium be applied to Eligible Fees paid to Eligible Physicians attached to this facility?"
                        display="table-row-group"
                        [errorMessage]="qualifyBcpError">
          </common-radio>
        </div>
      </form>
    </div>
    <aside>
      <h2>Tip</h2>
      <p>Practitioners must complete the Practitioner Attachment to Medical Services Plan Facility for Business Cost Premium form using the Facility Number supplied upon successful completion of this form.</p>
    </aside>
  </common-page-section>
</common-page-framework>
