<common-page-framework layout='blank'>
  <h1>Facility Information</h1>
  <p class="border-bottom">
    To qualify a Facility must be location in British Columbia.
  </p>
  <common-page-section layout="tips">
    <div class="form-group">
      <form [formGroup]="facilityForm">

        <div class="form-group">
          <!-- Facility Name -->
          <label class="control-label" for="facilityName">Facility Name</label>
          <input id="facilityName" formControlName="facilityName" class="form-control" required="true" maxlength="70">
          <common-error-container [displayError]="validFormControl(facilityForm,'facilityName')">
            Facility Name is a required field
          </common-error-container>
        </div>

        <div class="form-group">
          <!-- Physical Address-->
          <common-geocoder-input label='Physical Address' formControlName="address" maxlength=60>
          </common-geocoder-input>

          <common-error-container
            [displayError]="facilityForm.controls?.address?.touched && facilityForm.controls?.address?.errors?.required">
            Facility Address is a required field
          </common-error-container>

          <common-error-container [displayError]="facilityForm.controls?.address?.errors?.maxlength">
            Facility Address max length must be 60 or fewer characters.
          </common-error-container>
        </div>

        <div class="form-group">
          <!-- City -->
          <common-city name='facilityCity' formControlName="city" required="true" [maxlen]="30"></common-city>
          <!-- <common-error-container [displayError]="validFormControl(facilityForm,'city')">
            City is a required field
          </common-error-container> -->
        </div>

        <div class="form-group">
          <!-- Province -->
          <common-province name='facilityProvince' label='Province' placeholder='' formControlName='province' disabled>
          </common-province>
          <!-- <common-error-container [displayError]="validFormControl(facilityForm,'province')">
            Province is a required field
          </common-error-container> -->
        </div>

        <div class="form-group">
          <!-- Postal Code -->
          <common-postal-code name='facilityPostalCode' label='Postal Code' formControlName='postalCode' required="true"
            [maxlength]="10"></common-postal-code>
          <!-- <common-error-container [displayError]="validFormControl(facilityForm,'postalCode')">
            Postal Code is a required field
          </common-error-container> -->
        </div>

        <div class="form-group row">
          <div class="col-10">
            <common-phone-number name='facilityPhoneNumber' label='Phone number' formControlName='phoneNumber'
              [maxlength]="10" commonValidatePhone required></common-phone-number>
            <!-- <label class="control-label" for="phone_edit_{{formIndex}}">Phone Number</label>
            <input id="phone_edit_{{formIndex}}" formControlName="phoneNumber" class="form-control">
            <common-error-container [displayError]="validFormControl(facilityForm,'phoneNumber')">
              Phone Number is a required field
            </common-error-container> -->
          </div>
          <div class="col-2">
            <label for='facilityPhoneExtension'>
              Extension
            </label>
            <input id='facilityPhoneExtension' type="text" class='form-control' formControlName='phoneExtension'
              maxlength="4">
          </div>
        </div>

        <div class="form-group">
          <common-phone-number name='facilityPhoneExtension' label='Fax Number' formControlName='faxNumber'
            [maxlength]="10" commonValidatePhone required></common-phone-number>
          <!-- <label class="control-label" for="fax_edit">Fax Number</label>
          <input id="fax_edit" formControlName="faxNumber" class="form-control">
          <common-error-container [displayError]="validFormControl(facilityForm,'faxNumber')">
            Fax Number is a required field
          </common-error-container> -->
        </div>

        <div class="form-group">
          <common-date name='effectiveDate' label="Effective Date" [restrictDate]="'past'" required></common-date>
        </div>

        <div class="form-group">
          <common-radio [radioLabels]="radioBtnLabels" formControlName="isSameMailingAddress"
            name="isSameMailingAddress" label="Is the mailing adderss the same as the Physical Facility Address?"
            display="table-row-group" (statusChange)="toggleMailingAddress(facilityForm,$event)" required="true">
          </common-radio>
          <common-error-container [displayError]="validFormControl(facilityForm,'isSameMailingAddress')">
            Please indicate if the mailing address is the same as the physical address
          </common-error-container>
        </div>

      </form>
    </div>
  </common-page-section>
  <h2 class='border-bottom' *ngIf="showMailingAddress">Facility Mailing Address</h2>
  <common-page-section layout="tips">

    <div class="form-group col-sm-8 p-sm-0" *ngIf="showMailingAddress">
      <form [formGroup]="mailingForm">

        <div class="form-group">
          <label class="control-label" for="mailingAddress">Mailing Address</label>
          <input id="mailingAddress" class="form-control" name="mailingAddress" formControlName="mailing_address"
            required="true">
          <common-error-container [displayError]="validFormControl(mailingForm,'mailing_address')">
            Mailing Address is a required field
          </common-error-container>
        </div>

        <div class="form-group">
          <common-city label='City' value='' name="mailingCity" formControlName="mailing_city" required="true"
            [maxlength]="30"></common-city>
          <!-- <common-error-container [displayError]="validFormControl(mailingForm,'mailing_city')">
            City is a required field
          </common-error-container> -->
        </div>

        <div class="form-group">
          <common-province name="mailingProvince" label='Province' placeholder='' formControlName='mailing_province'
            disabled>
          </common-province>
          <!-- <common-error-container [displayError]="validFormControl(mailingForm,'mailing_province')">
            Province is a required field
          </common-error-container> -->
        </div>

        <div class="form-group">
          <common-postal-code name="mailingPostalCode" label='Postal Code' value='' formControlName="mailing_postalCode"
            class="pt-1" required="true" [maxlength]="10">
          </common-postal-code>
          <!-- <common-error-container [displayError]="validFormControl(mailingForm,'mailing_postalCode')">
            Postal Code is a required field
          </common-error-container> -->
        </div>

      </form>
    </div>
  </common-page-section>

  <h2 class='border-bottom'>Facility Service Type</h2>
  <common-page-section layout="tips">
    <div class="form-group col-sm-8 p-sm-0">
      <form [formGroup]="facilityForm">
        <div formArrayName="services" *ngFor="let fg of getServiceTypes.controls; let formIndex=index;">
          <div class="form-group">
            <common-checkbox class="form-check mb-3" formControlName="{{availableServiceTypes[formIndex].value}}"
              id="{{availableServiceTypes[formIndex].value}}" label="{{availableServiceTypes[formIndex].label}}">
            </common-checkbox>
          </div>
          <common-error-container [displayError]="validFormControl(facilityForm,'services')">
            At least one (1) Service Type must be selected
          </common-error-container>
        </div>
      </form>
    </div>

  </common-page-section>

  <h2>Business Cost Premium</h2>
  <p class="border-bottom">
    Business Cost Premium applies to services which are provided in community-based offices where the physician pays
    towards rent or lease cost either directly or indirectly.
  </p>

  <common-page-section layout="tips">
   
    <div class="form-group col-sm-8 p-sm-0">
      <form [formGroup]="facilityForm">
        <div class="form-group">
          <common-radio [radioLabels]="radioBtnLabels" formControlName="isQualifyForBCP" name="isQualifyForBCP"
            label="Does your business qualify for the Business Cost Premium?" display="table-row-group">
          </common-radio>
          <common-error-container [displayError]="validFormControl(facilityForm,'isQualifyForBCP')">
            Please indicate if your business qualifies for the Business Cost Premium
          </common-error-container>
        </div>
      </form>
    </div>

    <aside>
      <h2>Tip</h2>
      <p>To register practitioners, complete the practitioner assignment to MSP facility for Business Cost Premium form once you have been assigned a facility number.</p>
    </aside>

  </common-page-section>
</common-page-framework>

<common-form-action-bar [defaultColor]='false' widthOption='extra-width-mobile-only' [isLoading]='loading'
  (btnClick)="continue()">
</common-form-action-bar>