<common-page-framework layout='blank'>
  <h1>Facility Information</h1>
  <p class="border-bottom">
    To qualify a Facility must be location in British Columbia.
  </p>
  <common-page-section layout="tips">
    <div class="form-group">
      <form [formGroup]="facilityForm">

        <div class="form-group">
          <!-- Facility Name -->
          <label class="control-label" for="facilityName">Facility Name</label>
          <input id="facilityName" formControlName="facilityName" class="form-control" required="true" maxlength="70">
          <common-error-container [displayError]="validFormControl(facilityForm,'facilityName')">
            Facility Name is a required field
          </common-error-container>
        </div>

        <div class="form-group">
          <!-- Physical Address-->
          <common-geocoder-input label='Physical Address' formControlName="address" maxlength="60" (addressChange)="physicalAddressSelected($event)">
          </common-geocoder-input>

          <common-error-container
            [displayError]="facilityForm.controls?.address?.touched && facilityForm.controls?.address?.errors?.required">
            Facility Address is a required field
          </common-error-container>

          <common-error-container [displayError]="facilityForm.controls?.address?.errors?.maxlength">
            Facility Address max length must be 60 or fewer characters.
          </common-error-container>
        </div>

        <div class="form-group">
          <!-- City -->
          <common-city name='facilityCity' formControlName="city" required="true" [maxlen]="30"></common-city>
        </div>

        <div class="form-group">
          <!-- Province -->
          <common-province name='facilityProvince' label='Province' placeholder='' formControlName='province' disabled>
          </common-province>
        </div>

        <div class="form-group">
          <!-- Postal Code -->
          <common-postal-code name='facilityPostalCode' label='Postal Code' formControlName='postalCode' required="true"
            [maxlength]="10"></common-postal-code>
        </div>

        <div class="form-group">
          <common-phone-number name='facilityFaxNumber' label='Fax Number' formControlName='faxNumber'
            [allowInternational]='false' required></common-phone-number>
        </div>

        <div class="form-group">

          <!--
            issue with common-date. It does not set the common-date at all, in simpledate or initialization
            ref: bcp-16 #comment-24615
            https://github.com/bcgov/moh-common-styles/blob/master/projects/common/lib/components/date/date.component.ts
            https://github.com/bcgov/moh-common-styles/blob/master/projects/common/lib/models/simple-date.interface.ts
          -->

          <common-date name='effectiveDate' label="Effective Date" [restrictDate]="'future'"
            formControlName='effectiveDate' [required]="true" ></common-date>

          <!-- <common-date name='effectiveDate'
                       label="Effective Date"
                       [restrictDate]="'past'"
                       formControlName='effectiveDate'
                       [required]="true"
                       ></common-date> -->
        </div>

        <div class="form-group">
          <common-radio formControlName="isSameMailingAddress"
                        name="isSameMailingAddress"
                        label="Is the mailing address the same as the Physical Facility Address?"
                        display="table-row-group"
                        required
                        [errorMessage]="{required: 'Please indicate if the mailing address is the same as the physical address'}">
          </common-radio>
        </div>

      </form>
    </div>
  </common-page-section>
  <h2 class='border-bottom' *ngIf="showMailingAddress">Facility Mailing Address</h2>
  <common-page-section layout="tips">
    <div class="form-group col-sm-8 p-sm-0" *ngIf="showMailingAddress">


      <form [formGroup]="facilityForm">

        <div class="form-group">
          <common-geocoder-input label='Mailing Address' formControlName="mailingAddress" maxlength="60" (addressChange)="mailingAddressSelected($event)">
          </common-geocoder-input>

        <common-error-container
          [displayError]="facilityForm.controls?.mailingAddress?.touched && facilityForm.controls?.mailingAddress?.errors?.required">
          Facility Mailing Address is a required field
        </common-error-container>

        <common-error-container [displayError]="facilityForm.controls?.mailingAddress?.errors?.maxlength">
          Facility Mailing Address max length must be 60 or fewer characters.
        </common-error-container>
        </div>


        <div class="form-group">
          <common-city label='City' value='' name="mailingCity" formControlName="mailingCity" required="true"
            [maxlength]="30"></common-city>
        </div>

        <div class="form-group">
          <common-province name="mailingProvince" label='Province' placeholder='' formControlName='mailingProvince'
            disabled>
          </common-province>
        </div>

        <div class="form-group">
          <common-postal-code name="mailingPostalCode" label='Postal Code' value='' formControlName="mailingPostalCode"
            class="pt-1" required="true" [maxlength]="10">
          </common-postal-code>
        </div>

      </form>
    </div>
  </common-page-section>
  <h2>Business Cost Premium</h2>
  <p class="border-bottom">
    Business Cost Premium applies to services which are provided in community-based offices where the physician pays
    towards rent or lease cost either directly or indirectly.
  </p>
  <common-page-section layout="tips">
    <div class="form-group col-sm-8 p-sm-0">
      <form [formGroup]="facilityForm">
        <div class="form-group">
          <common-radio formControlName="isQualifyForBCP"
                        name="isQualifyForBCP"
                        label="Does your business qualify for the Business Cost Premium?"
                        display="table-row-group"
                        [errorMessage]="{required: 'Please indicate if your business qualifies for the Business Cost Premium'}">
          </common-radio>
        </div>
      </form>
    </div>
    <aside>
      <h2>Tip</h2>
      <p>To register practitioners, complete the practitioner assignment to MSP facility for Business Cost Premium form
        once you have been assigned a facility number.</p>
    </aside>
  </common-page-section>
</common-page-framework>

<common-form-action-bar [defaultColor]='true' widthOption='extra-width-mobile-only' [isLoading]='loading'
  (btnClick)="continue()">
</common-form-action-bar>
