<common-page-framework layout='blank'>
  <h1 class="border-bottom">{{pageTitle}}</h1>

  <p>This form is to be completed by applicants for facilities that do not have a valid Medical Services Plan Facility Number.</p>
  <p>All information on this form must be authorized by the responsible Practitioner for the facility (the Administrator) to which the MSP Facility Number may be issued. If there are any changes to the information contained in this document after it has been submitted, the Administrator must submit an Application to Cancel or Change Details for Facilities with an MSP Facility Number form.</p>
  <p>To complete this application form you will require the following information:</p>
  <ul>
    <li>Facility Administrator information including name and Medical Services Plan practitioner number</li>
    <li>Facility information including facility name, address and postal code</li>
  </ul>
  <p>In addition to applying for a Medical Services Plan Facility Number you will be able to request that the Business Cost Premium be applied to the facility.</p>
</common-page-framework>

<bcp-consent-modal (accept)='accept($event)'
                   (validToken)='setToken($event)'
                   [hasToken]='hasToken()'
                   [initialVisibility]='initialModalVisibility'></bcp-consent-modal>
