<common-page-framework layout='blank'>
  <h1 class="border-bottom">{{pageTitle}}</h1>

  <p>
    This form is to be completed by applicants for facilities that do not have a valid
    Medical Services Plan Facility Number.
  </p>

  <p>
    All information on this form must be authorized by the responsible Practitioner for the facility
    (the "Administrator" to which the Medical Services Plan Facility Number may be issued. If there are
    any changes to the information contained in thiIn addition to applying for a Medical Services Plan Facility Number you will also be able to request that the Business Cost Premium be applied to the facility.tails for Facilities with an MSP Facility Numbe' form.
  </p>


  <p>
    To complete the Application for Medical Services Plan Facility Number form you will require the following pieces of information:
  </p>
  <ul>
    <li>
      Facility administrator information including name and Medical Services Plan practitioner number
    </li>
    <li>
      Facility information including facility name, address and postal code
    </li>
  </ul>
  <p>
    In addition to applying for a Medical Services Plan Facility Number you will also be able to request that the
    Business Cost Premium be applied to the facility.
  </p>

</common-page-framework>

<common-consent-modal #bcpConsentModal
                      [title]="'Information collection notice'"
                      [processName]="'BCP'"
                      [agreeLabel]="'I have read and understand this information'"
                      [disableContinue]="!hasCaptchaToken()"
                      (accept)="onAccept($event)">
  <p><strong>Keep your personal information secure – especially when using a shared device like a computer at a
      library,
      school or café.</strong> To delete any information that was entered, either complete the application and submit
    it
    or, if you don’t finish, close the web browser.</p>
  <p><strong>Need to take a break and come back later?</strong> The data you enter on this form is saved locally to the
    computer or device you are using until you close the web browser or submit your application.</p>
  <p><strong>Information in this application is collected by the Ministry of Health</strong> under section 26(a), (c)
    and (e) of the Freedom of Information and Protection of Privacy Act and will be used to determine eligibility for
    provincial health care benefits in BC and administer Premium Assistance. Should you have any questions about the
    collection of this personal information please <a href="{{links.hibc}}"
       target="_blank">contact Health Insurance BC <i class="fa fa-external-link"
         aria-hidden="true"></i></a>.</p>


  <common-captcha [apiBaseUrl]="captchaApiBaseUrl"
                  [nonce]="nonce"
                  (onValidToken)="handleToken($event)"></common-captcha>

</common-consent-modal>
