<form [formGroup]="formGroup">
  <div class="form-group">
    <common-name label='Facility or practice name'
          name='facilityName'
          formControlName='facilityName'
          commonValidateName
          required></common-name>
    <common-error-container [displayError]='showValidationError'>
      {{ validationErrorMessage }}
    </common-error-container>
  </div>

  <div class="form-group">
    <common-geocoder-input label='Physical Address'
                            formControlName="address"
                            maxlength="60"
                            (addressChange)="physicalAddressSelected($event)">
    </common-geocoder-input>

    <common-error-container [displayError]='showValidationError'>
      {{ validationErrorMessage }}
    </common-error-container>
  </div>

  <div class="form-group">
    <common-city name='facilityCity'
                  formControlName="city"
                  placeholder=""
                  [maxlength]="30"></common-city>
  </div>

  <div>
    <div class='label'>Province</div>
    <div class='pb-2'>{{province}}</div>
  </div>

  <div class="form-group">
    <common-postal-code name='facilityPostalCode'
                        label='Postal Code'
                        formControlName='postalCode'></common-postal-code>
  </div>
</form>
