<form [(formGroup)]="formGroup">
    <div class="form-group">
      <common-name label='Facility or practice name'
            name='name'
            formControlName='name'
            commonValidateName></common-name>
      <common-error-container [displayError]='showValidationError'>
        {{ validationErrorMessage }}
      </common-error-container>
    </div>
  
    <div class="form-group">
      <bcp-facility-number name='mspNumber'
                           formControlName='mspNumber'></bcp-facility-number>
      <common-error-container [displayError]='showValidationError'>
        {{ validationErrorMessage }}
      </common-error-container>
    </div>
  
    <div class="form-group">
      <common-geocoder-input label='Physical address'
        formControlName="address"
        maxlength="60"
        (addressChange)="physicalAddressSelected($event)">
      </common-geocoder-input>
      <!-- Empty validation case is required here due to GeoCoderInput incompatibility. -->
      <common-error-container
        [displayError]="formGroup.controls?.address?.touched && formGroup.controls?.address?.errors?.required">
        Facility Address is a required field
      </common-error-container>
      <common-error-container [displayError]='showValidationError'>
        {{ validationErrorMessage }}
      </common-error-container>
    </div>
  
    <div class="form-group">
      <common-city name='city'
                    formControlName="city"
                    placeholder=""
                    [maxlength]="30"></common-city>
    </div>
  
    <div>
      <div class='label'>Province</div>
      <div class='pb-2 mb-1'>{{formGroup.value.province}}</div>
    </div>
  
    <div class="form-group">
      <common-postal-code name='postalCode'
                          label='Postal Code'
                          formControlName='postalCode'></common-postal-code>
    </div>

    <div class="form-group">
        <common-phone-number name='faxNumber'
            formControlName='faxNumber'
            label='Fax number (optional)'
            [allowInternational]='false'></common-phone-number>
    </div>
  </form>
  